<%= render 'shared/page_title', title: @recipe.name %>
<div class='row'>
  <div class="col-md-4 pull-right center">
    <%= gravatar_for @recipe.chef , size: 200 %>
    <p>
      <h2>Brought to you by: <%=@recipe.chef.chefname %></h2>
    </p>
  </div>
  <div class = "col-md-8">
    <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-warning pull-right" %>
    <h2><%=@recipe.summary%></h2> 
    <div class="well">
      <p><strong>steps:</strong></p>
      <%= simple_format(@recipe.description) %>
      </div>
    </div>
    
</div>

<h3><%= link_to "Return to Recipes", recipes_path , class: ' btn btn-warning btn-small' %></h3>